body{
    font-family: 'Helvetica Neue Regular', Arial;
    margin: 0;
    padding: 0;
    background-image: url(../img/bg1.gif);
}

.container-total{
  margin-top: 30px;
}


header{
    width: 100%;
    
}

.image-header{
    width: 100%;
}

nav{
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


nav ul li{
height: 50px;
display: flex;
justify-content: center;
align-items: center;  
}

nav ul li a{
  color: #fff;
  }


  nav ul li a:hover{
      color:#373737;
}

nav ul li:hover{
  background-color: #eee;
  -webkit-box-shadow: 0px 4px 5px 1px rgba(158,158,158,1);
-moz-box-shadow: 0px 4px 5px 1px rgba(158,158,158,1);
box-shadow: 0px 1px 5px 1px rgba(158,158,158,1);
}

nav ul li:hover a{
  color: #000000;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
    background-color: #eee;
}

nav ul li:last-child{
  padding-left: 25px;
}

.search{
    border: none ;
    height: 35px;
    padding-left: 15px;
    opacity: 0.4;
}

input.search::placeholder {
  font-family: FontAwesome;
  overflow: visible;
}

nav ul li:last-child:hover{
    background-color: #000;
    box-shadow: none;
}

nav ul li:last-child a{
  background-color: red;
}

/* SINCE HERE COME THE SECTION PART */
/* SINCE HERE COME THE SECTION PART */
/* SINCE HERE COME THE SECTION PART */

section{
  background-color: #fff;
  width: 100%;
  padding: 0;
}

article *{
  margin-bottom: 20px;
}

h1{
  font-weight: bold;
}